@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

/* Look cool on safari */
.blur-background {
    backdrop-filter: blur(20px);
}


/* Whole menu */
nav ul {
    @apply text-xl md:text-sm list-none;
}

/* Categories */
nav > ul > li {
    @apply mb-3;

    & > a {
        @apply font-semibold;
        @apply no-underline px-3 py-1.5 mb-1.5;
        @apply border rounded-lg dark:border-white/15;
    }
}

nav > ul > li.active > a {
    @apply text-[#00aaa6];
    /*@apply border-[#00aaa6] dark:border-[#00aaa6]/90;*/

    & > svg {
        @apply text-[#00aaa6];
    }
}

nav > ul > li:hover > a {
    @apply text-[#00aaa6];
    /*@apply border-[#00aaa6] dark:border-[#00aaa6]/90;*/
}

/* Sub menus */
nav > ul > li > ul {
    @apply mb-6;

    & > li {
        @apply font-normal;

        & a {
            @apply w-full block;
            @apply py-1.5;
            @apply border-l pl-3 dark:border-white/10;
            @apply ml-3;
        }

        &.exact-active a {
            @apply text-[#00aaa6];
            @apply border-[#00aaa6] dark:border-[#00aaa6]/90;
            /*@apply font-medium*/
        }

        &:hover a {
            /*@apply text-[#00aaa6];*/
            @apply border-[#00aaa6] dark:border-[#00aaa6]/90;
        }

    }
}

.prose h1 {
    @apply text-2xl;
}

.prose h2 {
    @apply text-xl;
}

.prose h3 {
    @apply text-lg;
}

.prose h4 {
    @apply text-base;
}

.prose pre {
    @apply p-6 shadow-lg rounded-xl;
}

.prose pre code {
    @apply text-gray-50;
}

.prose code {
    @apply px-1;
}

.prose a {
    @apply text-indigo-700 dark:text-indigo-300;
}

.prose a:hover {
    @apply text-indigo-600 no-underline dark:text-indigo-300;
}

.prose img {
    @apply shadow-md rounded-xl;
}

.prose img.no-format {
    @apply rounded-none shadow-none;
}

/*
 Margin and rounding are personal preferences,
 overflow-x-auto is recommended.
*/
.prose pre {
    @apply p-0 my-4 overflow-x-auto bg-transparent rounded-md;
}

/*
 Add some vertical padding and expand the width
 to fill its container. The horizontal padding
 comes at the line level so that background
 colors extend edge to edge.
*/
.prose pre code.torchlight {
    @apply block py-4 min-w-max;
}

/*
 Horizontal line padding.
*/
.prose pre code.torchlight .line {
    @apply px-4;
}

/*
 Push the code away from the line numbers and
 summary caret indicators.
*/
.prose pre code.torchlight .line-number,
.prose pre code.torchlight .summary-caret {
    @apply mr-4;
}





:root {
    --docsearch-container-background: rgba(0, 0, 0, 0.5);
    --docsearch-primary-color: #00aaa6;
}

[id=docsearch] {
    width: 100%;
    @apply md:w-auto;
}

.DocSearch-Button {
    @apply border border-solid border-gray-400/50 dark:border-white/10 dark:bg-black/10 flex items-center w-full rounded;
}

.DocSearch-Button:hover {
    box-shadow: none;
    @apply text-gray-400 border-gray-400/70 bg-transparent dark:border-white/20;
}

.DocSearch-Button .DocSearch-Search-Icon {
    height: 0.87rem;
    @apply text-gray-500 dark:text-white/60;
}

.DocSearch-Button-Placeholder {
    @apply dark:text-white/60 pr-44 text-xs;
}

.DocSearch-Button-Keys {
    display: flex;
    min-width: auto;

    @apply mt-1 text-xs leading-none;
}

.DocSearch-Button-Key {
    background: none;
    box-shadow: none;
    width: auto;

    @apply font-sans mr-0.5;
}

.DocSearch-Modal {
    @apply text-black;
}

.DocSearch-Screen-Icon {
    display: none;
}

.DocSearch-Input {
    @apply focus-visible:outline-none;
}

