@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        -webkit-tap-highlight-color: transparent;
    }
}

/* Whole menu */
nav ul {
    @apply list-none text-xl md:text-sm;
}

/* Categories */
nav > ul > li {
    @apply mb-3;

    & > a {
        @apply font-semibold;
        @apply mb-1.5 px-3 py-2.5 no-underline;
        @apply rounded-xl border dark:border-white/15;
    }
}

nav > ul > li.active > a {
    @apply text-black dark:text-white;

    & > svg {
        @apply text-violet-400;
    }
}

nav > ul > li > a {
    @apply transition duration-200 will-change-transform;
}

nav > ul > li:hover > a {
    @apply translate-x-0.5 bg-gray-50 dark:bg-gray-900/50;
}

/* Sub menus */
nav > ul > li > ul {
    @apply mb-6;

    & > li {
        @apply font-normal;

        & a {
            @apply ml-3 block w-full border-l py-1.5 pl-3 transition-all duration-200 dark:border-white/10;
        }

        &.exact-active a {
            @apply border-violet-400 text-violet-400 dark:border-violet-400/90;
        }

        &:hover a {
            @apply border-violet-400 dark:border-violet-400/90;
        }
    }
}

.prose h1 {
    @apply text-2xl;
}

.prose h2 {
    @apply text-xl;
}

.prose h3 {
    @apply text-lg;
}

.prose h4 {
    @apply text-base;
}

.prose pre {
    @apply rounded-xl p-6 shadow-lg;
}

.prose pre code {
    @apply text-gray-50;
}

.prose code {
    @apply px-1;
}

.prose a {
    @apply text-indigo-700 dark:text-indigo-300;
}

.prose a:hover {
    @apply text-indigo-600 no-underline dark:text-indigo-300;
}

.prose img {
    @apply rounded-xl shadow-md;
}

.prose img.no-format {
    @apply rounded-none shadow-none;
}

/*
 Margin and rounding are personal preferences,
 overflow-x-auto is recommended.
*/
.prose pre {
    @apply my-4 overflow-x-auto rounded-md bg-transparent p-0;
}

/*
 Add some vertical padding and expand the width
 to fill its container. The horizontal padding
 comes at the line level so that background
 colors extend edge to edge.
*/
.prose pre code.torchlight {
    @apply block min-w-max py-4;
}

/*
 Horizontal line padding.
*/
.prose pre code.torchlight .line {
    @apply px-4;
}

/*
 Push the code away from the line numbers and
 summary caret indicators.
*/
.prose pre code.torchlight .line-number,
.prose pre code.torchlight .summary-caret {
    @apply mr-4;
}

:root {
    --docsearch-container-background: rgba(0, 0, 0, 0.5);
    --docsearch-primary-color: #00aaa6;
}

[id='docsearch'] {
    width: 100%;
    @apply md:w-auto;
}

.DocSearch-Button {
    @apply m-0 flex items-center rounded-lg bg-gray-50 font-normal ring-1 ring-gray-700/40 transition duration-300 ease-out dark:bg-black/30;
}

.DocSearch-Button:hover {
    box-shadow: none;
    @apply bg-gray-100 ring-gray-300 dark:bg-black/50 dark:ring-gray-700/70;
}

.DocSearch-Button .DocSearch-Search-Icon {
    height: 0.87rem;
    @apply text-gray-500 dark:text-white/60;
}

@media (max-width: 768px) {
    .DocSearch-Button-Keys,
    .DocSearch-Button-Placeholder {
        display: block;
    }
}

.DocSearch-Button-Placeholder {
    @apply hidden pr-20 text-sm min-[500px]:block dark:text-white/60;
}

.DocSearch-Button-Keys {
    display: flex;
    min-width: auto;

    @apply ml-1 mt-1 text-sm leading-none;
}

.DocSearch-Button-Key {
    background: none;
    box-shadow: none;
    width: auto;

    @apply mr-0.5 font-sans;
}

.DocSearch-Modal {
    @apply text-black;
}

.DocSearch-Screen-Icon {
    display: none;
}

.DocSearch-Input {
    @apply focus-visible:outline-none;
}
